.consultation {
    width: 100%;
    margin-top: 130px;
}
.consultation__container {
    padding: 0 35px;
    display: flex;
    align-items: center;
    gap: 40px;
    color: black;
    @media screen and (max-width: 992px) {
        flex-direction: column;
    }
}
.consultation__right {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.consultation__img img{
    width: 100%;
    border-radius: 10px;
    max-width: 800px;
}
.consultation__title {
    text-align: center;
}

.consultation__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}
.consultation__form-main {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction:column;
}
.checkbox-consultation a{
    color: black;
    font-weight: 600;
}
.consultation__form-main input {
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 15px;
    outline: none;
    border: 1px solid #1a2238;
}
.consultation__form-main textarea {
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 15px;
    outline: none;
    resize: none;
    border: 1px solid #1a2238;
}
.consultation__form-main button {
    padding: 20px 50px;
    border-radius: 10px;
    background: #FF6500;
    text-align: center;
    color:white;
    font-size: 16px;
    line-height: 18.75px;
    transition: 0.5s;
    border: none;
    position: relative;
    top: 30px;
    cursor: pointer;
    border: 1px solid #FF6500;
}
.consultation__form-main button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 30px #ab5923, 0 0 60px #FF6500;
}