.image-slider-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 140px;
    margin-bottom: 145px;
    
  }
  
  .image-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
  }
  .image-slide {
    min-width: 100%;
    height: 100vh;
    display: none; 
    opacity: 0;
    transition: opacity 0.5s ease; 
  }
  
  .image-slide.active {
    display: block;
    opacity: 1;
  }
  
  .image-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .image-slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .image-slider-nav .prev, .image-slider-nav .next {
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: background-color 0.3s;
    user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  }
  
  .image-slider-nav .prev:hover, .image-slider-nav .next:hover {
    background-color: #1a2238;
  }
  

  @media (max-width: 1024px) {
    .image-slider-container {
      height: 80vh;
    }
  
    .image-slide {
      height: 80vh;
    }
  
    .image-slider-nav .prev, .image-slider-nav .next {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .image-slider-container {
      height: 60vh;
    }
  
    .image-slide {
      height: 60vh;
    }
  
    .image-slider-nav .prev, .image-slider-nav .next {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .image-slider-container {
      height: 50vh;
    }
  
    .image-slide {
      height: 50vh;
    }
  
    .image-slider-nav .prev, .image-slider-nav .next {
      font-size: 1rem;
    }
  }
  